@import 'const';
// 常用片段
// @extend 和 % 可以理解为引用, 所以编译的时候会自动组合选择器

%row-border {
    content: "";
    width: 100%;
    height: 1px;
    border-bottom: 1px solid $BORDER_COLOR;
    position: absolute;
    bottom: -1px;
    left: 0;
    transform: scaleY(.5);
    transform-origin: 0 0;
    z-index: 1;
}

%btn-border {
    content: "";
    width: 200%;
    height: 200%;
    position: absolute;
    left: -50%;
    top: -50%;
    transform: scale(.5);
}

%full-screen {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

%active-drop {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: $ACTIVE_DROP_COLOR;
}
