$MAIN-COLOR: #75D3BB; /* 主色 */
$MINOR-COLOR: #FFC100; /* 副色 */
$BODY-COLOR: #efefef; /* body 背景色 */
$BORDER-COLOR: #d5d5d6; /* 线条颜色 */
$MAIN-TEXT-COLOR: #666; /* 基本文字颜色 */
$STRONG-TEXT-COLOR: #333; /* 强调文字颜色 */
$TIP-COLOR: #888; /* 提示文字颜色 */
$LINK-COLOR: #FF5E38; /* 链接文字颜色 */
$BACKDROP-COLOR: rgba(0, 0, 0, .6); /* 背景遮罩层背景色 */
$ACTIVE-DROP-COLOR: rgba(0, 0, 0, .1); /* 激活遮罩层背景色, 或阴影颜色 */
