$mainColor: #75D3BB; /* 主色 */
$minorColor: #FFC100; /* 副色 */
$bodyColor: #efefef; /* body 背景色 */
$borderColor: #d5d5d6; /* 线条颜色 */
$mainTextColor: #666; /* 基本文字颜色 */
$strongTextColor: #333; /* 强调文字颜色 */
$tipColor: #888; /* 提示文字颜色 */
$linkColor: #FF5E38; /* 链接文字颜色 */
$backdropColor: rgba(0, 0, 0, .6); /* 背景遮罩层背景色 */
$activeDropColor: rgba(0, 0, 0, .1); /* 激活遮罩层背景色, 或阴影颜色 */
